*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark: hsl(0, 0%, 55%)
  --darker: hsl(0, 0%, 41%)
}

html {
  font-size: 93.75%;
  font-weight: 400;
  font-family: 'Alata', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

.content {
  width: 70%;
  margin: 0 auto;
}

.hero {
  background-image: url("/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  ul {
    li {
      display: inline-block;
      text-decoration: none;
      
      &:not(:last-child) {
        margin-right: 2rem;
      }

      a {
        color: var(--white);
      }
    }
  }
}

// Media queries
@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }

  .content {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 81.25%;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
}