*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark: hsl(0, 0%, 55%);
  --darker: hsl(0, 0%, 41%);
}

html {
  font-size: 93.75%;
  font-weight: 400;
  font-family: "Alata", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul,
li {
  list-style-type: none;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.hero {
  background-image: url("/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.hero .header ul li {
  display: inline-block;
  text-decoration: none;
}
.hero .header ul li:not(:last-child) {
  margin-right: 2rem;
}
.hero .header ul li a {
  color: var(--white);
}
.hero-slogan {
  width: 40rem;
  padding: 3rem;
  margin: 15rem 0;
  border: 2px solid var(--white);
}
.hero-slogan h1 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 3.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.interactive {
  margin: 10rem 0;
}
.interactive img {
  width: 50%;
}
.interactive-information {
  position: relative;
  top: -25rem;
  left: 45rem;
  padding: 6rem;
  width: 40rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
}
.interactive-information h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.creations .creations-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.creations .creations-title h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.creations .creations-title button {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 4px;
  background-color: var(--white);
  border-radius: 2px;
  border: 2px solid var(--dark);
  cursor: pointer;
  transition: all 0.2s;
}
.creations .creations-title button:hover {
  background-color: var(--black);
  color: var(--white);
}
.creations .creations-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 0px;
}
.creations .creations-cards__card {
  display: flex;
  align-items: flex-end;
  width: 20rem;
  height: 40rem;
  background: var(--url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
}
.creations .creations-cards__card:hover {
  transform: translateY(-1rem);
  filter: grayscale(80%) drop-shadow(8px 8px 10px var(--darker));
}
.creations .creations-cards__card h1 {
  color: var(--white);
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px;
  width: 40%;
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 81.25%;
  }

  .content {
    width: 90%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
